*{
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}
main{
	background-color: #000;
}
#container_2{
	background-image: url("../imagens/background.jpg");
	background-size:cover;
	background-repeat: no-repeat;
	/*background-attachment: all;*/
	/*background: lightblue;*/
	min-height: 49.4vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	overflow: auto;

}
.item{
	height: 125px;
	width: 120px;
	color: black;
	margin: 5px;
	/*border:1px solid black; */
	border-radius: 50%;
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
}
.item:hover{
	cursor: pointer;
	-webkit-transform: rotateZ(-360deg);
    -ms-transform: rotateZ(-360deg);
    transform: rotateZ(-360deg);
    transition: all 30s;
}
.item:nth-child(1){
background-image: url("../imagens/sol.png");
}
.item:nth-child(2){
background-image: url("../imagens/lua.png");
}
.item:nth-child(3){
background-image: url("../imagens/terra.png");
}
.item:nth-child(4){
background-image: url("../imagens/marte.png");
}
.item:nth-child(5){
background-image: url("../imagens/jupiter.png");
}

/*---------------------------------------*/
nav{
	width: 100%;
	background:#000;
	cursor: pointer;
}
ul{
	width: 80%;
	margin: 0 auto;
	padding: 20px;
}
ul li{
	list-style: none;
	display: inline-block;
	padding: 5px 15px;
	border-left: solid 3px black;
}

ul li:hover{
	box-shadow: inset 0 0 0 3px #444;
	transition: all 0.4s;
	background-color: #444;
	border-left: solid 3px #3333ff;
}
ul li a{
	color: #cacaca;
	text-decoration: none;
	text-transform: lowercase;
	font-size: 0.9em;
}

.barra{
	width: 100%;
	padding: 10px 20px;
	background: #000;
	text-align: right;
	box-sizing: border-box;
	color: #fff;
	font-size: 30px;
	display: none;
}
@media(max-width: 768px){
	.barra{
		display: block;
	}

	ul{
		width: 100%;
		display: none;
	}
	ul li{
		display: block;
	}
	.active{
	display: block;
	}
	.item{
		margin: 0 auto;
		margin-bottom: 40px;
		/*display: inline;*/
		/*margin-right: 300px;*/
	}
	#container_2{
		display: inline-block;
		width: 100%;
	}
}
/*-----------------------------------------------*/
#container_1{
	/*background-image: url("../imagens/background.jpg");
	background-size:cover;
	background-repeat: no-repeat;*/
	background-color: #000;
	min-height: 40vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/*justify-content: space-around;*/
	align-items: center;
	overflow: auto;
}
.title{
	/*height: 125px;
	width: 120px;
	color: black;
	margin: 5px;
	border-radius: 50%;*/
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
	width: 500px;
	height:200px;
	margin: 0 auto;
/*	max-width: 500px;
	max-height: 200px;*/
	background-image: url("../imagens/01.png");

}
/*-----------------------------------*/
#container_3{
	background-color: #000;
	/*background-attachment: all;*/
	/*background: lightblue;*/
	margin-top: 5%;
	min-width: 20vh;
	min-height: 20vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	overflow: auto;

}
.caixa{
	/*width: 40%;
	height: 40%;*/
	min-width: 200px;
	min-height: 200px;
	max-width: 600px;
	max-height: 600px;
	border: solid #fff 2px;
	margin: 30px;
/*	float: left;*/
	margin-bottom: 0;
	background-image: url("../imagens/background.jpg");
	background-size: cover;
}
.caixa figure img{
	width: 100%;
	max-width: 600px;
	max-height: 450px;
	min-height: 200px;
	min-width: 125px;
}
.caixa:hover{




}
.caixa figure img:hover{




}
footer{
	padding-top: 10%; 
	background-color: #000;
	height: 20vh;
	width: 100%;
	/*overflow: auto;*/
}
footer p{
	/*display: block;
	margin: 0 auto;*/
	text-align: center;
	color: #fff;
	font-size: 0.9em;
	margin-top: 60px;

}
/*footer ul{
	
}
*/
/*#redes img{
	width: 30px;
}
#redes li:hover{
	cursor: pointer;
}*/
footer ul{
	text-align: center;
}
#container_4{
	background-color: #000;
	/*background-attachment: all;*/
	/*background: lightblue;*/
	margin-top: 5%;
	min-width: 20vh;
	min-height: 20vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	overflow: auto;
}
.item1{
	height: 200px;
	width: 200px;
	color: black;
	margin: 20px;
	/*border:1px solid black; */
	border-radius: 50%;
	background-size: 90%;
	background-repeat: no-repeat;
	background-position: center;
}
.item1 figure img{
	width: 150px;
	height: 150px;
}

.item1:hover{
	cursor: pointer;
}
#container_4{
	background-color: #000;
	/*background-attachment: all;*/
	/*background: lightblue;*/
	margin-top: 5%;
	margin-left: 10%;
	margin-right: 10%;
	min-width: 20vh;
	min-height: 20vh;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	overflow: auto;
}



h1{
	color: #fff;
	text-align: justify;
	margin-left: 5%;
}
.item1:nth-child(5){
 width: 350px;
}
#saturno{
	width: 100%;
	max-width: 350px;
	min-width: 200px;
}
legend{
	color: #fff;
}
/*-------------------------------------------------------*/

.demo-2 {
    position:relative;
    width:250px;
    height:230px;
    overflow:hidden;
    float:left;
    margin-right:20px;
    background-color:#000;
}
.demo-2 p,.demo-2 h2 {
    color:#fff;
    padding:10px;
    left:-20px;
    top:20px;
    position:relative
}
.demo-2 p {
    font-size:18px;
    line-height:18px;
    margin:0;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Arial';
    border-left: solid 5px #fff;
}
.demo-2 h2 {
    font-size:20px;
    line-height:24px;
    margin:0;
}
.effect img {
    position:absolute;
    left:0;
    bottom:0;
    cursor:pointer;
    margin:-12px 0;
    -webkit-transition:bottom .5s ease-in-out;
    -moz-transition:bottom .5s ease-in-out;
    -o-transition:bottom .5s ease-in-out;
    transition:bottom .5s ease-in-out
}
.effect img.top:hover {
    bottom:-96px;
    padding-top:100px
}
h2.zero,p.zero {
    margin:0;
    padding:0
}
.zero{
   
}
.demo-2:nth-child(5){
    width:250px;
    height:340px;
}
.top:nth-child(5){
    width: 10%;
}
.container4{
    min-height: 49.4vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    overflow: auto;
    background-color: #000;
}